.wrapper {
    max-width: 1140px;
	margin: 0 auto;
	width: 85%;
}

html {
    scroll-behavior: smooth;
}

.btn {
    display: inline-flex;
    text-decoration: none;
    border-radius: 5px;
    width: 140px;
    height: 45px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.divisoria--amarela {
	border: 3px solid #daa250;
	margin: 20px 0;
}

@font-face {
    font-family: circular;
    src: url("../../fonts/circular std book.woff");
}

@font-face {
    font-family: ubuntub;
    src: url("../../fonts/ubuntu-bold.woff");
}

@font-face {
    font-family: ubuntul;
    src: url("../../fonts/ubuntu-light.woff");
}

@font-face {
    font-family: ubi;
    src: url("../fonts/Ubuntu-Regular.woff");
}