.cabecalho__blog {
	padding: 50px 0;
}

.titulo__blog {
	font-size: 50px;
	font-weight: 300;
}

.post {
	display: flex;
	padding: 12px 0;
}

.thumb__post {
	height: 250px;
	width: 40%;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
}

.content__post {
	width: 55%;
	padding: 20px 50px;
}

.title__post {
	font-size: 32px;
	font-weight: 300;
}

.excerpt__post p {
	margin-top: 10px;
	font-weight: 300;
	line-height: 1.3;
	color: #6b6b6b;
}

.divisoria__blog {
	border-width: 2px;
}

.link__post {
    display: block;
    text-decoration: none;
    color: #FFF;
    background-color: #daa250;
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin-top: 23px;
}