/* HOME */

/* ---------------------------
       ESTILIZACAO DO BANNER
-------------------------------- */

.slider {
    background: url("../../img/bn.png") no-repeat right bottom;
    background-size: 400px 600px;
    border-bottom: 2px solid #daa250;
    background-position: right;
}

.slider__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.sliderContent__title {
    font-size: 4.5rem;
    max-width: 650px;
    color: #7f5e2d;
    margin-bottom: 65px;
    font-family: ubuntul;
}

.sliderContent__text {
    font-size: 1.5rem;
    color: #888;
    max-width: 470px;
    margin-bottom: 70px;
    font-family: circular;
}

.slider__btn {
    border: 2px solid #daa250;
    border-radius: 5px; 
    color: #fff;
    background-color: #daa250; 
    /*box-shadow: 0px 0px 10px #daa250;*/
    font-family: ubuntul;
}

/* ---------------------------
       ESTILIZACAO DAS LINHAS
-------------------------------- */

.linhas__header {
    position: relative;
}

.header__title {
    text-transform: uppercase;
    color: #ececec;
    font-weight: 100;
    z-index: 0;
    line-height: 215px;
}

.header__subtitle {
    color: #daa250;
    font-size: 1.87rem;
    position: absolute;
    top:50%;
    z-index: 1;
    font-family: ubuntul;
}

.linhas {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linhas__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.linhas__card {
    display: flex;
    justify-content: space-around;
    width: 360px;
    height: 285px;
    border: 2px solid #eeeeee;
    border-top: 2px solid #daa250;
    margin-top: 20px; 
}

.linhas__paragrafo {
    font-size: 1rem;
    line-height: 22px;
    color: #848587;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 35px;
    font-family: circular;
}

.linhas__subtitulo {
    color: #daa250;
    font-size: 1.37rem;
    margin-top: 55px;
    font-family: ubuntul;
}

.linhas__cabelofeminino {
    padding-top: 35px;
}

.linhas__bigode {
    padding-top: 50px;
}

.linhas__medalha {
    padding-top: 40px;
}

.linhas__link{
    color: #daa250;
    font-size: 0.9;
    text-decoration: none;
    font-family: ubuntul;
}

/* ---------------------------
       CONHECA A FACELOOK
-------------------------------- */

.facelook {
    width: 100%;
    background-color: #222;
}

.facelook__wrapper {
    padding: 130px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


iframe {
    border: 2px solid #daa250;
}

.facelook__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.facelook__titulo {
    color: #daa250;
    font-size: 1.87rem;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: ubuntul;
}

.facelook__paragrafo {
    color: #b3b3b3;
    font-size: 1rem;
    line-height: 26px;
    max-width: 460px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 5px solid #daa250;
    font-family: circular;
}

.content__barra {
    display: flex;
    align-items: center;
    position: relative;
}

.facelook__link {
    display: flex;
    align-items: center;
    color: #daa250;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 45px;
    font-family: ubuntul;
}

.facelook__img {
    margin-right: 5px;
}


/* ---------------------------
        LIGA DOS BARBER
-------------------------------- */

.barber {
    display: flex;
    align-items: center;
    padding: 150px 0;
}

.barber__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.barber__cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barber__titulo {
    font-size: 4.2rem;
    color: #555555;
    font-weight: 100;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    font-family: ubuntul;
}

.barber__titulo::after{
    content: '';
    display: block;
    height: 5px;
    width: 80px;
    background-color: #daa250;
    margin-top: 20px;
}

.barber__paragrafo{
    max-width: 960px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    color: #777777;
    margin: 70px 0 110px 0;
    font-family: circular;
}

.barber__fotos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagemBarbeiro {
    width: 360px;
    height: 360px;
    margin-top: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.imagemBarbeiro::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #d7a967;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    transition: .5s;
}

.imagemBarbeiro:hover::after {
    opacity: 0.8;
    transition: .5s;
}

.imagemBarbeiro:hover .conteudoBarbeiro {
    opacity: 1;
}

.conteudoBarbeiro {
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: .5s;
    text-align: center;
    padding: 30px 15px;
    position: absolute;
    z-index: 2;
}

.conteudoBarbeiro__titulo a {
    font-size: 22px;
    margin: 30px 0 10px;
    font-family: ubuntul;
}

.conteudoBarbeiro__especialidade {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 300;
}

.conteudoBarbeiro__descricao ~ p {
    line-height: 1.4;
    font-family: circular;
}

.conteudoBarbeiro__social {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.conteudoBarbeiro__social a {
    margin: 10px;
    transition: all 0.5s;
}

.conteudoBarbeiro__social a:hover {
    color: #b56d00;
}

.conteudoBarbeiro__especialidade a, .conteudoBarbeiro__titulo a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}

.conteudoBarbeiro__especialidade a:hover , .conteudoBarbeiro__titulo a:hover {
    color: #b56d00;
}



/* ---------------------------
            NEWSLETTER
-------------------------------- */

.novidades__input {
    height: 45px;
    border: 2px solid #daa250;
    font-size: 1rem;
    color: #666;
    text-indent: 15px;
}

.novidades__input, .novidades__button {
    outline: 0;
}



.novidades__button {
    color: #fff;
    font-size: 1rem;
    background-color: #daa250;
    border: none;
    padding: 0 30px;
    cursor: pointer;
}

.news {
    background-color: #222;
}

.news__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
}

.news__titulo {
    font-size: 3.75rem;
    font-weight: 100;
    color: #daa250;
    font-family: ubuntul;
}

.news__paragrafo {
    padding-top:50px;
    color: #fff;
    max-width: 420px;
    font-size: 1.5rem;
    line-height: 28px;
    font-family: circular;
}

.news__form {
    display: flex;
    margin-top: 20px;
}


/* ---------------------------
            BLOG
-------------------------------- */


.blog {
    width: 100%;
}

.blog__wrapper {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog__wrapper h2{
    font-size: 1.87rem;
    font-weight: 100;
    color: #daa250;
    padding-bottom: 60px;
    font-family: ubuntul;
}

.blog__postagem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__post {
    margin-top: 20px;
    width: 360px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.blog__post::after {
    content: '';
    display: block;
    height: 97%;
    width: 95%;
    position: absolute;
    z-index: 2;
    background: #fff;
    opacity: 0;
    right: 0;
    bottom: 0;
    transition: .5s;
}

.blog__post:hover::after {
    opacity: 0.9;
    transition: .5s;
}

.blog__info {
    opacity: 0;
    transition: .8s;
    height: 97%;
    width: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    padding: 45px 30px 0 45px;
}

.blog__post:hover .blog__info {
    opacity: 1;
    transition:.8s;
}

span.blog__data {
    margin-left: 5px;
    color: #9a784e;
    font-family: ubuntul;
}

i.far.fa-clock {
    color: #f1a348;
}

.blog__titulo a {
    margin-top: 25px;
    font-size: 22px;
    font-family: ubuntul;
    text-decoration: none;
    color: #daa250;
}

.blog__previa ~ p {
    margin-top: 30px;
    font-weight: 300;
    color: #808080;
    font-family: circular;
}

.blog__chamada {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #daa250;
    font-size: 13px;
    margin-top: 50px;
    font-family: ubuntul;
}

/* MEDIA QUERIES */
 @media (max-width: 992px) {
    .slider{
        background-size: 0; 
    }
 }

 @media(max-width: 375px) {
    /* SLIDER */

    .sliderContent__title {
        font-size: 2rem !important;
    }

    /* LINHAS */

    .linhas {
        width: 100%;
    }

    .header__title {
        font-size: 5.5rem !important;
    }


    /* CONHEÇA A FACELOOK */

    iframe {
        width: 100%;
        padding: 0 10px;
        border: none;
    }
    .facelook__wrapper {
        justify-content: space-around;
        padding: 80px 0;
    }

    /* LIGA DOS BARBER */

    .barber {
        padding: 100px 0;
    }

    .barber__titulo {
        text-align: center;
    }

    .barber__paragrafo {
        font-size: 0.95rem !important;
    }

    .barber__wrapper {
        width: 100%;
        /*padding: 90px 0;*/
    }
    .barber__fotos {
        width: 100%;
    }

    .imagemBarbeiro {
        height: 50vh;
        width: 50vh;
    }

    .conteudoBarbeiro {
        width: 100%;
        height: 100%;
    }

    /* NEWSLETTER */

    .news__form input {
        font-size: 1rem;
    }   

 }

 @media(max-width: 600px) {
    /* BANNER */
    .sliderContent__title {
        font-size: 2.5rem;
    }

    .sliderContent__text {
        font-size: 1.2rem;
    }

    /* LINHAS */
    .linhas {
        padding: 80px 0;
    }
    .header__title {
        font-size: 6rem;
    }

    .header__subtitle {
        font-size: 1.4rem;
    }

    .linhas__cards {
        justify-content: center;
    }

    /* CONHEÇA A FACELOOK */

    .facelook__wrapper {
        width: 100%;
        padding: 90px 20px;
    }

    iframe {
        width: 340px;
        height: 200px;
    }

    .facelook__video, .facelook__content {
        margin: 0 auto;
    }

    .facelook__titulo {
        font-size: 1.4rem;
        text-align: center;
        margin: 0;
        padding: 30px 0;
    }

    .facelook__paragrafo {
        border: none;
        font-size: 1rem;
        line-height: 22px;
    }
    
    .facelook__link {
        margin-left: auto;
    }

    /* LIGA DOS BARBERS */

    .barber__wrapper {
        width: 100%;
    }

    .barber__titulo {
        font-size: 1.9rem;
        margin-bottom: 20px;
    }

    .barber__paragrafo {
        font-size: 1rem;
        line-height: 22px;
        margin: 0;
    }

    .barber__fotos {
        justify-content: center;
    }

    /* NEWSLETTER */

    .news__titulo {
        font-size: 2.5rem;
    }

    .news__paragrafo {
        font-size: 1.2rem;
    }

    .news__form input {
        width: 100%;
    }

    /* BLOG */
    .blog__wrapper {
        padding: 80px 0;
    }

    .blog__postagem {
        justify-content: center;
    }

    .blog__info, .blog__post::after {
        width: 100%;
        height: 100%;
    }

 }

 @media(min-width: 600px) {

    html {
        overflow-x: hidden;
    }
    /* LINHAS */
    .header__title {
       font-size: 8rem;
    }

    .linhas__card {
        margin: 40px auto;
    }

    /* CONHEÇA A FACELOOK */

    iframe {
        width: 440px;
        height: 255px;
    }

    .facelook__titulo {
        text-align: center;
        margin: 0;
        padding: 40px 0;
    }

    .facelook__link {
        margin-left: auto;
    }

    .facelook__paragrafo {
        border: none; 
    }
    .facelook__video, .facelook__content {
        margin: 0 auto;
    }
 }

 @media(min-width: 768px) {
    /* LINHAS */
    .header__title {
        font-size: 10rem;
    }

    /* CONHEÇA A FACELOOK */
    /*.facelook__paragrafo {
        border-left: 5px solid #daa250;
    }*/

    /* BARBEIROS */
    .barber__fotos {
        justify-content: space-around;
    }

    /* BLOG */
    .blog__postagem {
        justify-content: space-around;
    }
 }

 @media (min-width: 992px) {
    /* LINHAS */
    .header__title {
        font-size: 13rem;
    }
    /* CONHEÇA A FACELOOK */
    
 }

@media (min-width: 1200px) {
    /* LINHAS */
    .header__title {
       font-size: 17rem;
    }
    /* CONHEÇA A FACELOOK */
    .facelook__paragrafo {
        border-left: 5px solid #daa250;
    }
}