.cabecalho__produtos {
    height: 30vh;
    display: flex;
    background-color: #eae0e0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.titulo__produtos {
    margin: auto 0 auto 30px;
    font-size: 32px;
    color: #e4bc81;
    font-family: ubuntul;
}

.filtro__produtos {
    width: 25%;
    padding: 60px 0px 0px 70px;
}

.filtro__produtos h4 {
    margin: 10px 0;
}

.filtro__produtos hr {
    display: block;
    height: 2px;
    border: none;
    background-color: #d2d2d2;
}

.filtro__produtos h5 {
    color: #daa250;
}

.voltar {
    font-size: 1.2rem;
    color: #777;
    text-decoration: none;
}

.area__prodgeral {
    padding: 30px 0;
}

.listagem {
    padding: 60px 0;
}

.categorias__produtos {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.categorias__produtos a {
    margin: 3px;
    text-decoration: none;
    color: #545454;
}

.categorias__produtos a:hover {
    color: #daa250;
}

.container__produtos {
    display: flex;
}

.area__produtos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box__produto {
    width: 25%;
    height: 250px;
    margin: 40px 20px;
}

.imagem__produto {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}
.imagem__produto::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 0;
    transition: .5s;
}

.imagem__produto:hover::after {
    opacity: 0.6;
    transition: .5s;
}

.imagem__produto:hover .conteudo__imagem__produto {
    opacity: 1;
}

.conteudo__imagem__produto {
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: .5s;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.conteudo__imagem__produto span {
    font-size: 150px;
    cursor: pointer;
}

.conteudo__imagem__produto a {
    text-decoration: none;
    color: #fff;
}

.nome__produto {
    padding: 10px;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #daa250;

}

.perma__prod {
    text-decoration: none;
}

.listas {
    display: flex;
    justify-content: space-around;
}
.filtros {
    display: flex;
    padding: 30px 0;
}

.mega {
    margin: ;
}

.opcao {
    color: #999;
    font-family: circular;
    padding: 7px;
    border: 0;
    border-bottom:  1px solid #daa250;
    cursor: pointer;
    width: 200px;
}

.confirm {
    padding: 0 10px;
    border: none;
    background-color: #daa250;
    color: #fff;
    font-family: ubuntul;
    cursor: pointer;
}




/* Buscas */

.busca__titulo {
    font-family: ubuntul;
    font-size: 1.6rem;
    color: #daa250;
    padding: 60px 0 0 0;
}





/* MEDIA QUERIES */

 @media(max-width: 600px) {

    /* BANNER */
    .titulo__produtos {
        color: #bd8228;
    }

    /* PRODUTOS */
    .filtros {
        justify-content: center;
    }

    .imagem__produto {
        height: 25vh;
    }

    .box__produto {
        width: 45%;
        margin: 0;
    }

    .nome__produto {
        font-size: 0.8rem;
    }

    
 }

 @media(min-width: 600px) {
   
 }

 @media(min-width: 768px) {
    
 }

 @media (min-width: 992px) {
    
 }

@media (min-width: 1200px) {
    
}
