/* Paginacao */

.paginacao__links {
    background-color: #ccc;
    padding: 50px 0;
}
.paginacao__links a {
    
    font-size: 0.875rem;
    text-decoration: none;
    color: #999;
    transition: all 0.3s;
}

.paginacao__links a:hover {
    color: #daa250;
    font-size: 1rem;
}

/* Informações do produto */

.titulo {
    font-size: 1.5rem;
    padding: 100px 0 30px 0;
    color: #daa250;
    font-family: ubuntul;
}

.accordion label.desc {
    display: inline-block;
    cursor: pointer;
}


.check {
    display: flex;
}

.accordion label::before {
    content: '+';
    font-size: 2rem;
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.accordion input:checked ~ label::before {
    content: '-';
}

.titulo__sec {
    font-size: 1.5rem;
    color: #daa250;
    font-family: ubuntul;
}

.produto__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}

.produto__img {
    background: url('img-bonita-1.jpg') no-repeat center center;
    background-size: contain; 
    width: 555px;
    height: 490px;

}

.produto__parag {
    max-width: 457px;
    font-size: 1rem;
    line-height: 24px;
    color: #666;
}

.produto__parag p {
    font-family: circular;
    margin: 20px 0;
}

.produto__btn--single {
    border-radius: 0;
    background: #25d366;
    color: #fff;
    font-size: 0.875rem;
    margin-top: 30px;
    justify-content: space-around;
    font-family: ubuntul;
}

/* Slide de produtos */

.slide__titulo {
    text-align: center;
    font-size: 2.25rem;
    padding: 190px 0 120px 0;
}

.slide__wrapper {
    display: flex;
    flex-direction: row;
}

.slide__item {
    width: 285px;
    height: 323px;
    border: 1px solid red;
}



/* Efeito accordion */

.accordion__item {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s linear;
}

.accordion input {
    display: none;
}

.accordion input:checked ~ .accordion__item {
    height: auto;
    max-height: 900px;
    transform: all;
} 
