/* ---------------------------
            REDES SOCIAIS
-------------------------------- */

.redes {
    width: 100%;
    background-color: #daa250;
    padding: 15px 0;
}

.redes__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redes__items {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

/* ---------------------------
            FOOTER
-------------------------------- */

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.novidades__titulo {
    font-size: 1.87rem;
    font-weight: 100;
    color: #222222;
    font-family: ubuntul;
}

.novidades__titulo::after {
    content: '';
    display: block;
    height: 2px;
    width: 90px;
    background: #daa250;
    margin-top:10px;
}

.novidades__text {
    font-size: 0.87rem;
    color: #444;
    max-width: 350px;
    padding: 10px 0;
    font-family: circular;
}

.novidades__form {
    display: flex;
}

.novidades__input {
    height: 45px;
    border: 2px solid #daa250;
    font-size: 1rem;
    color: #666;
    text-indent: 15px;
}

.novidades__input, .novidades__button {
    outline: 0;
}

.novidades__button {
    color: #fff;
    font-size: 1rem;
    background-color: #daa250;
    border: none;
    padding: 0 30px;
    cursor: pointer;
}

.rodape__menu {
    max-width: 500px;
    display: flex;
}

.rodape__item {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #222222;
    margin: 0 10px;
    font-family: circular;
}

.contato__items{
    font-size: 0.8rem;
    padding: 5px 0;
}

.rodape__news, .rodape__menu, .rodape__contato {
    padding: 30px 0;
}

.contatos {
    font-size: 1.2rem;
    font-weight: 100;
    color: #daa250;
    font-family: ubuntul;
}

.rodape__copy {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: #666;
    font-size: 1.1rem;
    font-family: circular;
}

/* EFEITOS MENU */

.rodape__menu  a,
.rodape__menu  a:after,
.rodape__menu  a:before {
  transition: all .5s;

}
.rodape__menu  a:hover {
  color: #daa250;
}


/* Stroke */
.rodape__menu a{
  position: relative;
}

.rodape__menu a:after{
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #daa250;
  height: 2px;
}
.rodape__menu a:hover:after {
  width: 100%;
}