/*------------------------------
        ESTILIZACAO DO MENU
----------------------------------*/
.header {
    box-shadow: 0px 4px 10px #d9d9d9;
}

.header__menu {
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.brand {
    display: block;
    text-indent: -9999px;
	background: url("../../icons/logos.png") no-repeat;
    width: 180px;
    height: 50px;
    background-size: 180px 50px;
}

.menu__item {
    text-transform: uppercase;
    margin-left: 35px;
    text-decoration: none;
    color: #444;
    font-family: circular;
}

.menu__item:nth-child(3) {
    margin-right: 10px;
}

.menu__btn {
    margin-left: 70px;
    border: 2px solid #daa250;
    border-radius: 5px;
    color: #daa250;
    /*box-shadow: 0px 0px 10px #d6ba91;*/
    font-family: ubuntul;
}

.linguas__pt {
    text-decoration: none;
    color: #444;
}

.linguas__pt::after {
    content: '';
    display: inline-block;
    background: url('../img/jorgin.png') no-repeat;
    padding: 0 10px;
    margin: 0 10px;
    background-size: 10px 10px;
    widows: 10px;
    height: 10px;
}

nav .nav__menu a,
nav .nav__menu a:after,
nav .nav__menu a:before {
  transition: all .5s;

}
nav .nav__menu a:hover {
  color: #daa250;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.menu__h {
  visibility: hidden;
  cursor: pointer;
}



/* MEDIA QUERIES */
@media (max-width: 992px) {
  .header__menu {
    position: relative;
    display: block
  }
  .menu__h {
    visibility: visible;
    position: absolute;
    right: 30px;
    top: 30px;
    color: #daa250;
    font-size: 30px;
  }

  .nav__menu {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    text-align: center;
    transition: all .5s linear;
  }
  .nav__menu .menu__item {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    width: 100%;
    transition: all 1s;
  }

  .nav__menu .menu__item:hover {
    margin-left: 1.3em;
    background-color: #fafafa;
  }

  #chk:checked ~ .nav__menu {
    height: auto;
    max-height: 900px;
    transform: all;
  }
  .menu__btn {
    margin: 0 auto 10px auto;
  }
}

@media(min-width: 992px) {
  nav.stroke a{
  position: relative;
  }

  nav.stroke .nav__menu a:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #daa250;
    height: 2px;
  }
  nav.stroke .nav__menu a:hover:after {
    width: 100%;
  }

  nav.stroke .nav__menu a:last-child:hover:after {
    width: 0;
  }
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .header__menu {
    width: 100%;
  }
}